* {
  margin: 0;
  border: none;
  box-sizing: border-box;
}

main {
  padding: 20px;
}

#board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cell {
  width: calc(100% / 3);
  height: 80px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

input[type="text"] {
  border-bottom: 1px solid black;
  padding: 5px;
  margin: 10px;
}

input[type="button"] {
  padding: 20px;
  font-size: 20px;
  width: 150px;
  text-align: center;
  align-self: center;
  margin: 10px;
}

input[type="button"]:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}